<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688735617790-6ep8f4b0unfam8j5dqek7d69dtdpqums.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688735617790-6ep8f4b0unfam8j5dqek7d69dtdpqums</string>
	<key>API_KEY</key>
	<string>AIzaSyDYZT8xIj2E_CZy3pwr0QGh2cW-fvVWP90</string>
	<key>GCM_SENDER_ID</key>
	<string>688735617790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>mymessengerapp-44a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessengerapp-44a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688735617790:ios:b82c8d742d13c30099dbaf</string>
</dict>
</plist>